@font-face {
    font-family: "SFProText"; 
    src: url("/assets/fonts/SFProText-Regular-1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "SFProDisplay"; 
    src: url("/assets/fonts/SFProDisplay-Semibold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 600; 
} 
@font-face {
    font-family: "SFProDisplay"; 
    src: url("/assets/fonts/SFProDisplay-Regular-1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "SFProDisplay"; 
    src: url("/assets/fonts/SFProDisplay-Medium-1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 500; 
} 
@font-face {
    font-family: "SFProDisplay"; 
    src: url("/assets/fonts/SFProDisplay-Heavy-1.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 900; 
} 
@font-face {
    font-family: "SFProDisplay"; 
    src: url("/assets/fonts/SFProDisplay-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 
@font-face {
    font-family: "SFCompactText"; 
    src: url("/assets/fonts/SFCompactText-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 
@font-face {
    font-family: "SFCompactText"; 
    src: url("/assets/fonts/SFCompactText-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 300; 
} 
@font-face {
    font-family: "HelveticaNeue"; 
    src: url("/assets/fonts/HelveticaNeue-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 