header {
    padding-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 198px;
    img {
        max-width: 100%;
    }
}
.header-social {
    ul {
        display: flex;
        gap: 10px;
    }
    ul {
        li {
            a {
                img {
                    width: 30px;
                }
            }
        }
    }
}