.contact {
    width: 100%;
    padding: 50px 0;
}
.contact-wrapper {
    width: 95%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    z-index: 0;
    img {
        border-radius: 5px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    &::after {
        content: '';
        background-color: #1C2E3D;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: .4;
        z-index: -1;
        border-radius: 5px;
    }
}
.contact-content {
    padding: 0 133px;
}
.contact-title_group {
    max-width: 50%;
    padding-top: 300px;
    padding-bottom: 170px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    h3 {
        font-size: 60px;
        font-weight: 700;
        line-height: 105%;
        color: #FFF;
    }
    p {
        
        font-family: "SFCompactText"; 
        font-size: 24px;
        font-weight: 4%;
        color: #FFF;
    }
}
.contact-form {
    max-width: 500px;

    position: absolute;
    bottom: -97px;
    right: 50px;
}

.form-contact__wrapper {
    background-color: #fff;
    color: #1C2E3D;

    padding-top: 36px;
    padding-bottom: 26px;
    padding-left: 63px;
    padding-right: 63px;

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    display: flex;
    flex-direction: column;
    
    label {
        padding: 20px 0;

        border-bottom: #1c2e3d83 solid 2px;
    }

}

.personality{
    display: flex;
    gap: 10px;

    label {    
        border-bottom: none;

        p {
            font-size: 12px;
            padding-left: 10px;
        }
    }
    a {
        color: #008cff;
        font-size: 12px;
        border-bottom: 1px solid #1c2e3da6;
    }
}

.decortion-btn {
    width: 100%;
    padding: 41px 0;
    background-color: #73AFBA;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2.182px;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: flex;
    flex-direction: row;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
  
.custom-checkbox + label::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 5px;
    border: 2px solid #D7D7D7;
    background-repeat: no-repeat;
    background-position: center center;
}
  
.custom-checkbox:checked + label::before {
    background-color: #D7D7D7;
    background-image: url(/assets/img/icon-social/check-mark.svg);
}
  
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active + label::before {
    background-color: #D7D7D7;
}
  
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked) + label::before {
    border-color: #D7D7D7;
}
  
  /* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled + label::before {
    background-color: #e9ecef;
}