@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a {
  color: #ffffff;
}

a, a:link, a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
  color: #ffffff;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "SFProText";
  src: url("/assets/fonts/SFProText-Regular-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/SFProDisplay-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/SFProDisplay-Regular-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/SFProDisplay-Medium-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/SFProDisplay-Heavy-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("/assets/fonts/SFProDisplay-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SFCompactText";
  src: url("/assets/fonts/SFCompactText-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SFCompactText";
  src: url("/assets/fonts/SFCompactText-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("/assets/fonts/HelveticaNeue-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  position: relative;
  width: 100%;
  font-family: "SFProDisplay";
  font-weight: 400;
  color: #fff;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 17px;
}

header, .home {
  background-image: url(/assets/img/all/17.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed; /* !!! */
}

header {
  padding-top: 15px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 198px;
}
.logo img {
  max-width: 100%;
}

.header-social ul {
  display: flex;
  gap: 10px;
}
.header-social ul li a img {
  width: 30px;
}

.home {
  position: relative;
  padding-top: 80px;
  padding-bottom: 15px;
}

.home-wrapper {
  width: 100%;
}

.home-content {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.home-title h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 105%;
}

.home-btn {
  display: inline-block;
  padding: 33px 0;
}
.home-btn a {
  padding: 33px 80px;
  background: #E8594E;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.18px;
  transition: 0.3s;
}
.home-btn a:hover {
  background: #d65b52;
  transition: 0.3s;
}

.home-slogan__group {
  margin-top: 75px;
  width: 100%;
  position: relative;
  display: flex;
}

.home-slogan {
  width: 100%;
  display: block;
  padding: 25px;
  background: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.home-slogan p {
  color: #1C2E3D;
  font-size: 16px;
  font-weight: 500;
}

.home-video {
  width: 502px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.home-video .swiper {
  width: 100%;
  height: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.home-video .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-video .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-video .video-slide {
  height: 280px;
  width: 100%;
}
.home-video .video-slide video {
  position: absolute; /* или fixed */
  width: 100%;
  height: 280px;
  top: 0;
  left: 0;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-video .name__video-slide {
  width: 100%;
  padding: 25px 0;
  background: #73AFBA;
}
.home-video .swiper-button-next, .home-video .swiper-button-prev {
  top: 88%;
}
.home-video .swiper-button-prev:after {
  font-family: "Times New Roman", Times, serif;
  content: url(/assets/img/icon-social/arrow-left.svg);
}
.home-video .swiper-button-next:after {
  font-family: "Times New Roman", Times, serif;
  content: url(/assets/img/icon-social/arrow-right.svg);
}

.upcoming-tours {
  width: 100%;
}

.upcoming-tours__title-goup {
  padding: 50px 0;
}

.upcoming-tours__title h2 {
  color: #1C2E3D;
  font-size: 52px;
  font-weight: 700;
  line-height: 125%;
}

.upcoming-tours__group-card .swiper {
  width: 100%;
  height: 100%;
}
.upcoming-tours__group-card .swiper-wrapper {
  width: 100%;
}
.upcoming-tours__group-card .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.upcoming-tours__group-card .swiper-button-prev {
  left: 85%;
}
.upcoming-tours__group-card .swiper-button-next {
  right: 5%;
}
.upcoming-tours__group-card .swiper-button-next, .upcoming-tours__group-card .swiper-button-prev {
  top: 61px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
}
.upcoming-tours__group-card .pulse:hover {
  animation: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.upcoming-tours__group-card .swiper-button-prev:after {
  font-family: "Times New Roman", Times, serif;
  content: url(/assets/img/icon-social/arrow-tours.svg);
}
.upcoming-tours__group-card .swiper-button-next {
  transform: rotate(180deg);
}
.upcoming-tours__group-card .swiper-button-next:after {
  font-family: "Times New Roman", Times, serif;
  content: url(/assets/img/icon-social/arrow-tours.svg);
}

.swiper_tours-content__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.swiper_tours-content {
  width: 100%;
  z-index: 1;
  padding: 70px 0;
  text-align: left;
  position: relative;
}
.swiper_tours-content img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.swiper_tours-info {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swiper_tours-info h3 {
  max-width: 640px;
  font-size: 48px;
  font-weight: 700;
  line-height: 133%;
}
.swiper_tours-info a {
  background: #73AFBA;
}
.swiper_tours-info a:hover {
  background: #55929c;
  transition: 0.3s;
}

.swiper_tours-detals {
  max-width: 30%;
}
.swiper_tours-detals::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  height: 100%;
  background-color: #3C4A51;
  opacity: 0.8;
  z-index: -1;
}
.swiper_tours-detals h3 {
  font-size: 64px;
  font-weight: 700;
  line-height: 125%;
}
.swiper_tours-detals ul {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.swiper_tours-detals ul li {
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 133%;
  border-bottom: 2px solid #405d74;
}
.swiper_tours-detals p {
  padding-top: 20px;
}

.swiper_tours-galery {
  width: 100%;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  padding: 50px 0;
}

.swiper_tours-galery_img {
  width: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.swiper_tours-galery_img img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
}
.swiper_tours-galery_img span {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  text-align: start;
  padding-left: 20px;
  padding-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  border-radius: 5px;
}
.swiper_tours-galery_img span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(115, 175, 186, 0.5725490196);
  opacity: 0;
  color: #fff;
  transition: opacity 0.3s linear;
}
.swiper_tours-galery_img span:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */